<div style="text-align:center">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-md-12">
        <h1 class="display-4" style="color:#fff" >An API of Ice And Fire</h1>
        <p>World's greatest source for quantified and structured data
          from the universe of Ice and Fire</p>
        <p>Search from a range of books, characters and houses</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet><!--Using router-outlet for routing list-view component-->
</div>
